@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
}
.jumbotron {
  padding: 18rem 1rem;
  margin-bottom: 2rem;
  background-color: #ffffff;
  border-radius: 0.3rem;
  background: linear-gradient(to right, #ffffff 0%, #4e4e4e 98%, #424242 100%);
  background-image: url(../images/banner.png);
  background-size: cover;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.5;
}

.banner-content {
  padding-top: 140px;
}

.banner-content h3 {
  margin: 0;
  color: #fff;
  font-size: 42px;
  line-height: 60px;
  font-weight: 600;
  margin-bottom: 11px;
}

.banner-content p {
  margin: 0;
  color: #dedede;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 54px;
}
.thm-btn {
  display: inline-block;
  border: none;
  outline: none;
  background: #3f51b5;
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #3f51b5),
    color-stop(98%, #6e93f7),
    color-stop(100%, #6c90f4)
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3f51b5),
    color-stop(98%, #6e93f7),
    to(#6c90f4)
  );
  background: linear-gradient(to right, #3f51b5 0%, #6e93f7 98%, #6c90f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6541c1', endColorstr='#d43396', GradientType=1);
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 28px;
  padding: 15px 29px;
  position: relative;
}

.banner-content .thm-btn {
  /* -webkit-box-shadow: 0px 12px 30px rgba(108, 143, 241, 0.58);
  box-shadow: 0px 12px 30px rgba(108, 143, 241, 0.58); */
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.thm-outline {
  padding: 13px 27px;
  background: #fff0;
  color: #fff;
  border: 2px #6e92f6 solid;
  box-shadow: none !important;
}

.thm-outline:hover {
  padding: 15px 29px;
  border: none;
  background: #3f51b5;
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #3f51b5),
    color-stop(98%, #6e93f7),
    color-stop(100%, #6c90f4)
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3f51b5),
    color-stop(98%, #6e93f7),
    to(#6c90f4)
  );
  background: linear-gradient(to right, #3f51b5 0%, #6e93f7 98%, #6c90f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6541c1', endColorstr='#d43396', GradientType=1);
  color: #ffffff;
  -webkit-box-shadow: 0px 12px 30px rgba(108, 143, 241, 0.58);
  box-shadow: 0px 12px 30px rgba(108, 143, 241, 0.58);
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: rgba(255, 255, 255, 0.9);
}
.navbar-light .navbar-brand {
  color: rgba(255, 255, 255, 0.9);
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 11rem;
  margin-bottom: 0;
  list-style: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2.5rem;
  padding-left: 0.5rem;
}

.navbar-light {
  transition: 500ms ease;
  background: transparent;
}
.navbar-light.scrolled {
  background: #4d64c8;
}

/* navbar */

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgb(255, 255, 255);
}

/* navbar */

.sec-title {
  margin-bottom: 100px;
  margin-top: 3rem;
}
.text-center {
  text-align: center;
}

.sec-title h2 {
  font-size: 32px;
  color: #170b35;
  font-weight: 600;
}
.sec-title h2,
.sec-title p {
  margin: 0;
}
.sec-title p {
  font-size: 16px;
  line-height: 26px;
  color: #656565;
  margin-top: 20px;
}
/* owl */

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #3f51b5;
}

.my-1 .item {
  background-color: white;
  margin: 0 auto;
  width: 300px;
}
.my-1 .item > img {
  width: 240px;
}

.my-1 .item > h4 {
  margin: 0;
}

.my-1 .owl-nav > .owl-prev,
.my-1 .owl-nav > .owl-next {
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
  margin: 0 !important;
}

.my-1 .owl-nav > .owl-next {
  left: auto;
  right: -50px;
}

.my-1 .owl-dots {
  display: none;
}
.lang {
  width: 70px;
  height: 70px;
  background-color: #666;
  text-align: center;
}
.lang > span {
  font-size: 35px;
  color: white;
  display: block;
  padding-top: 10px;
  font-weight: 500;
}
.product {
  text-align: center;
  font-weight: 600;
}
.product > .p-name {
  padding-top: 20px;
  line-height: 20px;
  overflow: hidden;
  max-height: 82px;
  font-size: 14px;
}
.product > .p-price {
  padding-top: 10px;
  font-size: 14px;
}

.owl-nav i {
  background: #3f51b5;
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #3f51b5),
    color-stop(98%, #6e93f7),
    color-stop(100%, #6c90f4)
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3f51b5),
    color-stop(98%, #6e93f7),
    to(#6c90f4)
  );
  background: linear-gradient(to right, #3f51b5 0%, #6e93f7 98%, #6c90f4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  position: relative;
  top: 3px;
}

.owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 3px 8px;
  background: #eaeaea;
  display: inline-block;
  cursor: pointer;
  border-radius: 0%;
}

/* owl */

.app-features {
  padding-bottom: 135px;
}

.single-app-features i {
  margin-bottom: 1rem;
  color: #666666;
  font-size: 45px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  line-height: 50px;
  height: auto;
  width: auto;
}
.single-app-features h3 {
  font-size: 20px;
  font-weight: 500;
  color: #150a33;
  margin-top: 17px;
  margin-bottom: 17px;
}
.single-app-features h3,
.single-app-features p {
  margin: 0;
}

.single-app-features p {
  letter-spacing: 0.01em;
  color: #656565;
  margin-bottom: 20px;
}

.single-app-features .line {
  width: 100%;
  height: 4px;
  background: #3f51b5;
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #3f51b5),
    color-stop(98%, #6e93f7),
    color-stop(100%, #6c90f4)
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3f51b5),
    color-stop(98%, #6e93f7),
    to(#6c90f4)
  );
  background: linear-gradient(to right, #3f51b5 0%, #6e93f7 98%, #6c90f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6541c1', endColorstr='#d43396', GradientType=1);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.single-app-features {
  margin: 1rem;
}
.single-app-features:hover i {
  background: #3f51b5;
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #3f51b5),
    color-stop(98%, #6e93f7),
    color-stop(100%, #6c90f4)
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3f51b5),
    color-stop(98%, #6e93f7),
    to(#6c90f4)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.app-features .single-app-features:hover .line {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.single-app-features i {
  margin-bottom: 1rem;
  background: #3f51b5;
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #3f51b5),
    color-stop(98%, #6e93f7),
    color-stop(100%, #6c90f4)
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3f51b5),
    color-stop(98%, #6e93f7),
    to(#6c90f4)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.single-app-features .line {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.feature-style-content.pl40 {
  padding-left: 40px;
}
.feature-style-content {
  padding-top: 50px;
}
.pt70 {
  padding-top: 70px !important;
}

.p2 {
  padding-top: 2rem;
}

.pt5 {
  padding-top: 5rem;
}

.pb5 {
  padding-bottom: 5rem;
}
.feature-style-content h3 {
  margin: 0;
  color: #150a33;
  font-size: 32px;
  line-height: 48px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.feature-style-content > i {
  font-size: 45px;
  background: #3f51b5;
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #3f51b5),
    color-stop(98%, #6e93f7),
    color-stop(100%, #6c90f4)
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3f51b5),
    color-stop(98%, #6e93f7),
    to(#6c90f4)
  );
  background: linear-gradient(to right, #3f51b5 0%, #6e93f7 98%, #6c90f4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  width: auto;
  height: auto;
}

/*-- /testimonials --*/

.test-info h3 {
  font-size: 0.85em;
  color: #1e272e;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.test-img img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  padding: 4px;
  background: rgba(30, 39, 46, 0.12);
  margin-top: 1em;
  width: 100px !important;
  height: 100px !important;
  float: right;
}

.mobl-footer.test-soc ul li {
  display: inline-block;
  margin: 0 0.3em;
}

.mobl-footer.test-soc ul li a span {
  color: #1e272e;
}

/*-- //testimonials --*/

/* screen shot */

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.screenshotitem {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}

.screenshotitem:hover {
  flex: 7;
}

.item-1 {
  background-image: url("https://images.unsplash.com/photo-1499198116522-4a6235013d63?auto=format&fit=crop&w=1233&q=80");
}

.item-2 {
  background-image: url("https://images.unsplash.com/photo-1492760864391-753aaae87234?auto=format&fit=crop&w=1336&q=80");
}

.item-3 {
  background-image: url("https://images.unsplash.com/photo-1503631285924-e1544dce8b28?auto=format&fit=crop&w=1234&q=80");
}

.item-4 {
  background-image: url("https://images.unsplash.com/photo-1510425463958-dcced28da480?auto=format&fit=crop&w=1352&q=80");
}

.item-5 {
  background-image: url("https://images.unsplash.com/photo-1503602642458-232111445657?auto=format&fit=crop&w=1234&q=80");
}

/* screen shot */

.text-left {
  text-align: left !important;
}

.m-1 {
  margin: 1rem;
}

.card {
  background-color: #fff !important;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 2px 6px 12px #c3c3c3;
}

/* counter */

.counter-1 {
  /* padding: 0; */
}

.counter-1 .number {
  display: block;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 600;
}

.counter-1 .number-desc {
  font-size: 0.8rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.counter-1 .counter-left-block {
  padding: 4.5rem 1.5rem;
  text-align: center;
}

.counter-1 .counter-left-block .number,
.counter-1 .counter-left-block .number-desc {
  color: #fff;
}

.counter-1 .counter-right-block {
  padding: 4.5rem 1.5rem;
  background: transparent;
  text-align: center;
}

.counter-1 .counter-left-block {
  background: #3f51b5;
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #3f51b5),
    color-stop(98%, #6e93f7),
    color-stop(100%, #6c90f4)
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3f51b5),
    color-stop(98%, #6e93f7),
    to(#6c90f4)
  );
  background: linear-gradient(to right, #3f51b5 0%, #6e93f7 98%, #6c90f4 100%);
}

/* counter */

/* subscripe */
.subscribe input {
  background: #3330;
  height: 3rem;
  color: #fff;
}

.subscribe h4 {
  font-size: 27px;
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}

.subscribe input:focus {
  background: #3330;
  box-shadow: none;
  border-color: white;
  color: #fff;
}

.subscribe button {
  margin-left: 1.1rem;
  background: #4255b9;
  border: navajowhite;
  border-radius: 0px;
  color: #fff;
  border-radius: 30px;
}

.subscribe button:hover {
  background: #3330;
  border: 1px #fffefe solid;
}

/* enroll */

.enroll {
  position: relative;
  color: #fff;
  background: url(../images/2.jpg) center no-repeat fixed;
  background-size: cover;
  margin-top: 4rem;
}

.enroll .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.5;
}

.enroll .container {
  padding: 4rem;
  border-bottom: 1px #fff solid;
}

.enroll .thm-btn {
  margin-top: 3rem;
}

.enroll .download-center-text {
  float: none;
  margin: 0 auto;
  text-align: center;
}

/* enroll */

/* footer */

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* background: #252525; */
  /* background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #3f51b5),
    color-stop(98%, #6e93f7),
    color-stop(100%, #6c90f4)
  ); */
  /* background: -webkit-gradient( linear, left top, right top, from(#3f51b5), color-stop(98%, #6e93f7), to(#6c90f4) ); */
  /* background: linear-gradient(to right, #3f51b5 0%, #6e93f7 98%, #6c90f4 100%); */
  /* color: #fff !important; */
}

footer p {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  font-weight: 500;
}
footer p span {
  color: #fff;
  font-weight: 500;
  padding-right: 5px;
}
footer p {
  color: #fff;
  /*margin-bottom: 0px;*/
  line-height: 1.7rem;
}

footer .title {
  margin-bottom: 30px;
  margin-top: 12px;
}
footer .title h3 {
  margin: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

footer ul {
  position: relative;
  padding: 0px;
}

footer ul li.page_item {
  position: relative;
  list-style: none;
  color: #fff;
  font-size: 14px;
  margin-bottom: 8px;
}

footer ul li.page_item a {
  position: relative;
  color: #fff;
  font-size: 14px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-weight: 500;
  line-height: 20px;
}

/* footer */
